<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <span class="navbar-brand">{{ icon(icon) }} {{ 'User profile'|trans }}</span>
        </div>
    </div>
</nav>